# Node
node_modules/
npm-debug.log
yarn-error.log

# TypeScript build output
dist/
build/

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed

# Environment variables
.env
.env.local
.env.*.local

# Multer upload (local)
uploads/

# IDE files
.vscode/
.idea/
*.swp
.DS_Store

# Temp
tmp/
temp/
*.tmp
